{
  "parser": "babel-eslint",
  "extends": ["eslint-config-airbnb"],
  "ecmaFeatures": {
  },

  "env": {
    "browser": true,
    "node": true
  },

  "globals": {
    "document" : false
  },

  "rules": {
    semi: [2, "never"]
  }
}
