{
  "extends": "stylelint-config-standard",
  "rules": {
    "declaration-block-no-redundant-longhand-properties": [true, {
      "ignoreShorthands": ["/.*/"]
    }],
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }],
  }
}
