
.vertical-center {
  float:none;
  display:inline-block;
  vertical-align:middle;
}

.medic-bear-image {
  width: 370px;
};

h1 {
  font-size: 80px;

}



body {
  padding-top: 70px;
  font-family: 'Raleway', serif;
}

.brand > img {
height: $navbar-height;
}

.survices {
  background-color: #EEE;
  padding-left: 50px;
  padding-right: 50px;
}
.panel-text-glyph-1 {
  float: left;
  font-size: 40px;
  color: blue;
  margin-top: 10px;
}
.panels-text {
  margin-left: 50px;
}
