h1 {
  font-size: 80px;
}
p {
  color: #666666;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  word-wrap: break-word;
}
body {
  padding-top: 200px;
  font-family: 'Raleway', serif;
}
h6 {
  font-size: 19.2px;
  font-weight: normal;
  color: $text-color-headers;
}
h4 {
  font-size: 25.6px;
  font-weight: normal;
  color: $text-color-headers;
}
h2 {
  padding-bottom: 30px;
}
.brand > img {
  height: $navbar-height;
  margin-left: 10px;
}

.services {
  background-color: #EEE;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.service-text-glyph-1 {
  float: left;
  font-size: 30px;
  color: $zdev-primary-color;
  margin-top: 10px;
}
.service-text {
  margin-left: 50px;
}
.navbar-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-links{
  padding-top: 20px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 300;
}
.about-box {
  padding-bottom: 110px;
}
.contact-info {
  margin-top: 50px;
  padding-bottom: 10px;
  padding-top: 20px;
  background-color: #EEE;
}
.team {
  padding-top: 20px;
}
.second-services-row {
  padding-top: 30px;
}
