h1 {
  font-size: 80px;
}
p {
  color: #666666;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  word-wrap: break-word;
}
body {
  padding-top: 90px;
  font-family: 'Raleway', serif;
}
h6 {
  font-size: 19.2px;
  font-weight: normal;
  color: $text-color-headers;
}
h5 {
  font-size: 22.2px;
  font-weight: normal;
  color: $text-color-headers;
}
h4 {
  font-size: 25.6px;
  font-weight: normal;
  color: $text-color-headers;
}
h2 {
  padding-bottom: 30px;
}
.brand > img {
  height: $navbar-height;
  margin-left: 10px;
}
.section {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.services {
  @extend .section;
  background-color: #EEE;
}
.service-text-glyph {
  float: left;
  font-size: 30px;
  color: $zdev-primary-color;
  margin-top: 17px;
}
.service-text-ion {
  @extend .service-text-glyph;
  font-size: 40px;
  padding-left: 4px;
}
.service-text {
  margin-left: 50px;
}
.navbar-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-links{
  padding-top: 20px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 300;
}
.about-box {
  padding-bottom: 110px;
}
.contact-info {
  padding-bottom: 10px;
  padding-top: 20px;
}
.team {
  @extend .section;
    background-color: #EEE;
}
.second-services-row {
  padding-top: 30px;
}
.service-item {
  min-height: 100px;
}
.headshot {
  @extend .img-circle;
  height: 150px;
  width: 150px;
}
.padding-top-image {
  padding-top: 20px;
}
.contact-icon {
  font-size: 2em;
  color: $zdev-primary-color;
}
.logo-image {
  padding-bottom: 20px;
}
.row-padding-about {
  padding-top: 110px;
}
.p-about {
  font-size: 1.2em;
  margin-top: 30px;
}
.team-subheading {
  @extend .text-center;
  margin-bottom: 40px;
}
.portfolio {
  @extend .section;
}
img.portfolio-image {
  @extend .img-responsive;
  padding-top: 20px;
  width: 100%;
}
.portfolio-image-container{
  margin: 20px;
}
img.actfit-app-icon {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 47px;
}
@media(min-width: $screen-md-min) {
  img.actfit-app-icon {
    padding-top: 70px;
  }
}
span.inline-glyphicon {
  color: $zdev-primary-color;
  top: 3px;
}
span.about {
  font-weight: 400;
  color: $zdev-primary-color;
}
h2.team {
  padding-bottom: 15px;
}
